<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>{% block title %}{% endblock title %} - GyanField</title>

<style>

body{
    background-color: #E6F6F7;
}

.logo{
    margin-top: 20px;
    margin-bottom: 30px;
  }

.navbar-toggler {
    margin-right: 43%;
    font-size: 15px;
}

.ser{
    display: none;
}

.social p{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}



@media only screen and (max-width: 600px) {
  .ser{
    display: block;
    margin-left: 15%;
  }
  .form1{
    display: none;
  }
  .logo{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .social p{
  font-size: 20px;
}
.sb{
  margin-left: 10px;
}



}


{% block style %}{% endblock style %}

</style>

{% block head %}{% endblock head %}

</head>
<body>
<div>
  <h1 class="text-center logo">GyanField</h1>
</div>

<!-- Nav bar -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/dev">Admin</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-danger" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
            </li>
            {% endif %}
    
          </ul>
          <form method="POST" action="/search"  class="form-inline form1 my-2 my-lg-0">
          {% csrf_token %}
            <input style="width: 400px;" class="form-control shadow mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" required>
            <button style="margin-right: 160px;" class="btn border-bottom shadow my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
        
        
        </div>
      </nav>
    </div>
    <div class="col-md-2 text-center social">
    <p><a class="text-dark mx-3" href="https://github.com/Akshay0777/GyanField" target="_blank"><i class="fab fa-github"></i></a></p>
      {% comment %} <p><a class="text-dark" href="/"><i class="fab fa-twitter"></i></a></p>
      <p><a class="text-dark" href="/"><i class="fab fa-facebook-f"></i></a></p>
      <p><a class="text-dark" href="/"><i class="fab fa-instagram"></i></a></p>
      <p><a class="text-dark" href="/"><i class="fab fa-whatsapp"></i></a></p> {% endcomment %}
      </div>
    </div>
  </div>
</div>


<div class="ser">
  <form method="POST" action="/search"  class="form-inline my-2 my-lg-0">
  {% csrf_token %}
    <input style="width: 70%;" class="form-control shadow mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" required>
    <button class="btn sb border-bottom shadow my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
  </form>
</div>
<!-- NavBar End -->

{% block body %}{% endblock body %}


<footer class="footer">
  <div class="text-center mt-5">
    <p>Contact Us Here :- </p>
    <h3><a class="text-dark mx-3" href="https://github.com/Akshay0777/GyanField" target="_blank"><i class="fab fa-github"></i></a>
    <a class="text-dark mx-3" href="https://www.linkedin.com/in/akshay-pawar-51061019b/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a class="text-dark mx-3" href="https://www.instagram.com/pawar_akshay07/" target="_blank"><i class="fab fa-instagram"></i></a></h3>
  </div>
</footer>



<script>


{% block js %}{% endblock js %}
</script>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>